@model IEnumerable<MvcCoreOverview2.Models.Authors>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td >
                    <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.Author_Id">Edit</a> 
                    <a class="btn btn-success  " asp-action="Details" asp-route-id="@item.Author_Id">Details</a> 
                    <a class="btn btn-danger  " asp-action="Delete" asp-route-id="@item.Author_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
